#formContainer
{
    margin: 50px 50px 50px 50px;
    padding: 30px 40px 40px;
    float: center;
    background: #E7E7E7;
    border: 1px solid darkgrey;
}
#form
{
    padding: 60px 40px 40px;
}

#text
{
    resize: none;
}

#creation_date
{
    float: right;
    font-style: italic;
}

#success_message
{
    margin: 50px 50px 50px 50px;
    padding: 30px 40px 40px;
    float: center;
    background: #E7E7E7;
    border: 1px solid darkgrey;
}