<div class="blogPost">

    <div class="blogTitle">
        <h3>{{ post.subject }}</h3>
    </div>

    <div class="delete">
        <a href="#/deletePost/{{ post.id }}">
            <img src="img/delete.png" width="30" height="30"/>
        </a>
    </div>

    <div class="blogText">
        <p>
            {{ post.text }}
        </p>
    </div>

    <div class="blogFooter">
        {{ post.author }}
        {{ post.created_at }}
    </div>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{post.id}}" aria-expanded="false" aria-controls="collapseExample">
        Show comments
    </button>

    <div class="collapse comment_container" id="collapse{{post.id}}">
        <div ng-repeat="comment in post.comments" 
            ng-include="'partials/comment.html'">
        </div>

        <form name="comment_form" novalidate>
                    
            <fieldset class="form-group">
                <label for="text">Text</label>
                <textarea type="text" ng-model="text" name="text" class="form-control" id="text" rows="5" placeholder="Your comment goes here" required></textarea>
                <span style = "color:red" ng-show = "comment_form.text.$dirty && 
                comment_form.text.$invalid">
                <span ng-show = "comment_form.text.$error.required">Text is required.</span>
            </fieldset>

            <fieldset class="form-group">
                <label for="author">Author</label>
                <input type="text" ng-model="author" name="author" class="form-control" id="author" maxlength="40" placeholder="Enter your name"required>
            </fieldset>

            <button ng-disabled="comment_form.$invalid" ng-click="submit_comment()" 
            type="submit" id="submit_btn" class="btn btn-primary">Comment</button>

        </form>
    </div>

</div>