<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
     <div class="navbar-header">
         <div class="navbar-brand">Welcome</div>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
             <li class="active new_post" style="margin-left: 40px"><a href="#newPost">New post</a></li>
             <li><a href="#about">About</a></li>
         </ul>
     </div>
 </div>
</nav>

<div class="container-fluid">
    <div class="row" id="blogHeader">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="blog-title">My AngularJS Blog</h1>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="blogBody">
            <div ng-repeat="post in posts" ng-include="'partials/post.html'">
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>